<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.u356971.unitedinflightcatering">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".deepDishOrderNow" />
        <activity android:name=".MenuHomepage" />
        <activity android:name=".LunchAndDinner" />
        <activity android:name=".Snacks" />
        <activity android:name=".Snackboxes" />
        <activity android:name=".Beverages" />
        <activity android:name=".cheeseBurgerOrderNow" />
        <activity android:name=".chickenSandwichOrderNow" />
        <activity android:name=".samplerOrderNow" />
        <activity android:name=".jerkyOrderNow" />
        <activity android:name=".nutMixOrderNow" />
        <activity android:name=".chipsOrderNow" />
        <activity android:name=".gummyBearsOrderNow" />
        <activity android:name=".pringlesOrderNow" />
        <activity android:name=".hummusOrderNow" />
        <activity android:name=".mandmOrderNow" />
        <activity android:name=".cheeseAndCrackersOrderNow" />
        <activity android:name=".shoppingCart" />
        <activity android:name=".classicBoxOrderNow" />
        <activity android:name=".selectBoxOrderNow" />
        <activity android:name=".kidsBoxOrderNow" />
        <activity android:name=".tapasBoxOrderNow" />
        <activity android:name=".complimentaryDrinksMoreInfo" />
        <activity android:name=".wineOrderNow" />
        <activity android:name=".beerOrderNow" />
        <activity android:name=".spiritsOrderNow"></activity>
    </application>

</manifest>